<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio Avaliativo</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="my-5 text-center">
            <h1>3-54</h1>
            <h3>EXERCÍCIO AVALIATIVO: CAMILLA E GIOVANA</h3>
        </div>

        <form method="POST" action="/pesquisar" class="mb-4">
            <div class="form-group">
                <label for="indice">Digite o Índice:</label>
                <input type="text" id="indice" name="indice" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <% if (user) { %>
            <div class="alert alert-success text-center">
                <h4 class="alert-heading">Email enviado para</h4>
                <p>Nome: <%= user.nome %></p>
                <p>Email: <%= user.email %></p>
                <form>
                    <button type="submit" formaction="/" class="btn btn-secondary">Voltar</button>
                </form>
            </div>
        <% } else if (notFound) { %>
            <div class="alert alert-danger text-center">
                <h4 class="alert-heading">Usuário não encontrado</h4>
                <form>
                    <button type="submit" formaction="/" class="btn btn-secondary">Voltar</button>
                </form>
            </div>
        <% } %>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
